@font-face {
  font-family: "Akzidenz-Grotesk";
  src: url("../fonts/Akzidenz Grotesk CE Roman.ttf"); }

@font-face {
  font-family: "Akzidenz-Grotesk";
  font-weight: bold;
  src: url("../fonts/Akzidenz Grotesk CE Roman Bold.ttf"); }
